<body>
<app-button></app-button>
<header><h1 id="top">DOMINICAN REPUBLIC</h1></header>
<img class="mapa" src="../assets/mapa rd.png">
<ol>
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Azua"><li>Azua</li></a>
  <ul>
    <li>Senator: Lía Ynocencia Díaz Santana</li> 
    <li>Population: 22,610</li>
    <li>Coat of arms:</li>
    <img src="../assets/azua escudo.gif">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Bahoruco"><li>Bahoruco</li></a>
  <ul>
    <li>Senator: Melania Salvador Jiménez</li> 
    <li>Population: 101,306</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoBahoruco.png">
  </ul>    

  <a href="https://es.wikipedia.org/wiki/Provincia_de_Barahona"><li>Barahona</li></a>
  <ul>
    <li>Senator: José Manuel del Castillo Saviñón</li> 
    <li>Population: 189,100</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoBarahona.png">
  </ul>    

  <a href="https://es.wikipedia.org/wiki/Provincia_de_Dajab%C3%B3n"><li>Dajabón</li></a>
  <ul>
    <li>Senator: David Rafael Sosa Cerda</li> 
    <li>Population: 66,675</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoDajabón.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Distrito_Nacional"><li>Distrito Nacional</li></a>
  <ul>
    <li>Senator: Faride Virginia Raful</li> 
    <li>Population: 1,049,567</li>
    <li>Coat of arms:</li>
    <img src="../assets/distritonacional.jfif">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte"><li>Duarte</li></a>
  <ul>
    <li>Senato: Franklin Martín Romero Morillo</li> 
    <li>Population: 299,583</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoDuarte.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_El%C3%ADas_Pi%C3%B1a"><li>Elías Pina</li></a>
  <ul>
    <li>Senator: Aris Yvan Lorenzo</li> 
    <li>Population: 63,303</li>
    <li>Coat of arms:</li>
    <img src="../assets/eliaspina.jpg">
  </ul>

  <a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo"><li>El Seibo</li></a> 
  <ul>
    <li>Senator: Santiago José Zorrilla</li> 
    <li>Population: 94,049</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoSeibo.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Espaillat"><li>Espaillat</li> </a>
  <ul>
    <li>Senator: Carlos Manuel Gómez Ureña</li> 
    <li>Population: 240,428</li>
    <li>Coat of arms:</li>
    <img src="../assets/espaillat.jfif">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Hato_Mayor"><li>Hato Mayor</li> </a>
  <ul>
    <li>Senator: Cristóbal Venerado Castillo</li> 
    <li>Population: 85,747</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoHato_Mayor_del_Rey.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Hermanas_Mirabal"><li>Hermanas Mirabal</li> </a>
  <ul>
    <li>Senator: Bautista Antonio Rojas Gómez</li> 
    <li>Population: 92,045</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoHermanas_Mirabal.png">
  </ul>

  <a href="https://es.wikipedia.org/wiki/Provincia_de_Independencia"><li> Independencia</li></a>
  <ul>
    <li>Senator: Valentin Medrano Pérez</li> 
    <li>Population: 58,951</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_de_la_Provincia_Independencia.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_La_Altagracia"><li>La Altagracia</li></a>
  <ul>
    <li>Senator: Virgilio Cedano Cedano</li> 
    <li>Population: 360,874</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoLa_Altagracia.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_La_Romana"><li>La Romana</li></a>
  <ul>
    <li>Senator: Iván José Silva Fernández</li> 
    <li>Population: 274,894</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoRomana.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega"><li>La Vega</li> </a>
  <ul>
    <li>Senator: Ramón Rogelio Genao Durán</li> 
    <li>Population: 412,469</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoVega.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Mar%C3%ADa_Trinidad_S%C3%A1nchez"><li>Maria Trinidad Sanchez</li></a>
  <ul>
    <li>Senator: Alexis Víctoria Yeb</li> 
    <li>Population: 140,954</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoMaría_Trinidad_Sánchez.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Monse%C3%B1or_Nouel"><li>Monseñor Nouel</li></a>
  <ul>
    <li>Senator: Hector E. Acosta</li> 
    <li>Population: 174,959</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_Monseñor_Nouel.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Cristi"><li>Monte Cristi</li> </a>
  <ul>
    <li>Senator: Ramón A. Pimentel Gómez</li> 
    <li>Population: 117,736</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoMonte_Cristi.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Plata"><li>Monte Plata</li> </a>
  <ul>
    <li>Senator: Lenin Valdez López</li> 
    <li>Population: 191,447</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_de_la_Provincia_Monte_Plata.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Pedernales"><li>Pedernales</li></a>
  <ul>
    <li>Senator: Dionis A. Sánchez Carrasco</li> 
    <li>Population: 35,280</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_del_Municipio_Pedernales.png">
  </ul> 

  <a href="https://es.wikipedia.org/wiki/Provincia_de_Peravia"><li>Peravia</li></a>
  <ul>
    <li>Senator: Milcíades M. Franjul</li> 
    <li>Population: 198,499</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_de_la_Provincia_Peravia.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Puerto_Plata"><li>Puerto Plata</li></a>
  <ul>
    <li>Senator: Ginnette Altagracia Bournigal</li> 
    <li>Population: 333,940</li>
    <li>Coat of arms:</li>
    <img src="../assets/EscudoPuerto_Plata.png">
  </ul>

  <a href="https://es.wikipedia.org/wiki/Provincia_de_Saman%C3%A1"><li>Samaná</li></a>
  <ul>
    <li>Senator: Pedro Catrain Bonilla</li> 
    <li>Population: 113,036</li>
    <li>Coat of arms:</li>
    <img src="../assets/131px-Escudo_de_la_Provincia_Samaná.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_S%C3%A1nchez_Ram%C3%ADrez"><li>Sánchez Ramírez</li></a>
  <ul>
    <li>Senator: Ricardo De Los Santos</li> 
    <li>Population: 151,888</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_de_la_Provincia_Sánchez_Ramírez.png">
  </ul>

  <a href="https://es.wikipedia.org/wiki/Provincia_de_San_Crist%C3%B3bal"><li>San Cristóbal</li></a>
  <ul>
    <li>Senator: Franklin Alberto Rodríguez</li> 
    <li>Population: 643,595</li>
    <li>Coat of arms:</li>
    <img src="../assets/san cristobal.jfif">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/San_Jos%C3%A9_de_Ocoa"><li>San José de Ocoa</li></a>
  <ul>
    <li>Senator: José Antonio Castillo Casado</li> 
    <li>Population: 53,833</li>
    <img src="../assets/Escudo_del_Municipio_San_José_de_Ocoa.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_San_Juan_(Rep%C3%BAblica_Dominicana)"><li>San Juan</li></a>
  <ul>
    <li>Senator: Félix Bautista Rosario</li> 
    <li>Population: 220,264</li>
    <img src="../assets/Escudo_de_la_Provincia_San_Juan.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_San_Pedro_de_Macor%C3%ADs"><li>San Pedro de Macorís</li></a>
  <ul>
    <li>Senator:  Franklin Peña Villalona</li> 
    <li>Population: 306,002</li>
    <li>Coat of arms:</li>
    <img src="../assets/escudo_de_San_Pedro_de_Macoris.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(Rep%C3%BAblica_Dominicana)"><li>Santiago</li></a>
  <ul>
    <li>Senator: Eduardo Estrella Virella</li> 
    <li>Population: 1,052,088</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_de_la_Provincia_Santiago.png">
  </ul>

  <a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_Rodr%C3%ADguez"><li>Santiago Rodríguez</li></a>
  <ul>
    <li>Senator: Casimiro Antonio Marte Familia</li> 
    <li>Population: 57,209</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_de_la_Provincia_Santiago_Rodríguez.png">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Santo_Domingo"><li>Santo Domingo</li> </a>
  <ul>
    <li>Senator: Antonio M. Taveras Guzmán</li> 
    <li>Population: 2,955,339</li>
    <li>Coat of arms:</li>
    <img src="../assets/distritonacional.jfif">
  </ul>
    
  <a href="https://es.wikipedia.org/wiki/Provincia_de_Valverde"><li id="bottom">Valverde</li></a>
  <ul>
    <li>Senator: Martín E. Nolasco Vargas</li> 
    <li>Population: 177,865</li>
    <li>Coat of arms:</li>
    <img src="../assets/Escudo_del_Municipio_Mao.png">
  </ul>   
</ol>
<app-buttontop></app-buttontop>
</body>